services:

  # This will be used by the auth-service
  postgres:
    image: 'postgres:14.2'
    ports:
      - "5432:5432"
    deploy:
      mode: replicated
      replicas: 1
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: users
    volumes:
      - ./db-data/postgres/:/var/lib/postgresql/data/

  # auth-service 
  auth-service:
    build:
      context: ./auth-service
      dockerfile: ./auth-service.dockerfile
    volumes: [ "./auth-service:/auth-service" ]
    ports:
      - "8081:80"
    deploy:
      mode: replicated
      replicas: 1
    depends_on:
      - postgres
    environment:
      DSN: "host=postgres port=5432 user=postgres password=password dbname=users sslmode=disable timezone=UTC connect_timeout=5"

  # broker-service
  broker-service:
    build:
      context: ./broker-service
      dockerfile: ./broker-service.dockerfile
    volumes: [ "./broker-service:/broker-service" ]
    depends_on:
      - auth-service
      - logger-service
      - mail-service
    ports:
      - "8080:80"
    deploy:
      mode: replicated
      replicas: 1

  logger-service:
    build:
      context: ./logger-service
      dockerfile: ./logger-service.dockerfile
    volumes: [ "./logger-service:/logger-service" ]
    depends_on:
      - mongo
    ports:
      - "8082:80"
    deploy:
      mode: replicated
      replicas: 1

  mail-service:
    build:
      context: ./mail-service
      dockerfile: ./mail-service.dockerfile
    depends_on: 
      - mailhog
    ports:
      - "8083:80"
    deploy:
      mode: replicated
      replicas: 1
    environment:
      MAIL_DOMAIN: localhost
      MAIL_HOST: mailhog
      MAIL_PORT: 1025
      MAIL_ENCRYPTION: none
      MAIL_USERNAME: ""
      MAIL_PASSWORD: ""
      FROM_NAME: "John Smith"
      FROM_ADDRESS: john.smith@example.com

  mongo:
    image: "mongo:4.2.16-bionic"
    ports:
      - "27018:27017"
    environment:
      - MONGO_INITDB_DATABASE=logs
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=password
    volumes:
      - ./db-data/mongo/:/data/db

  mailhog:
    image: 'mailhog/mailhog:latest'
    ports:
      - "1025:1025"
      - "8025:8025"
